/* header da parte da sidebar -------------------*/
header {
    position: fixed;
    width: 20%;
    height: 100%;
    color: #fff;
    padding: 3rem 0 0 2rem;
    text-align: center;
    transition: border 0.3s;
    border: 2px solid transparent;
    border-image: linear-gradient(180deg, #4F7EF6 0%, #4FC67A 50%, #FDE760 100%);
    border-image-slice: 1;
}

.logotipo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
}

.logotipo-header {
    width: 3.5rem;
}

.logotipo-header-titulo {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    text-transform: uppercase;
}

.lista-header {
    list-style: none;
    margin: 2rem 0;
}

.icone-header {
    width: 1.5rem;
    margin-right: 0.5rem;
}

nav {
    height: 100%;
    padding: 0.5rem 0;
    text-align: left;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

/* header da parte do corpo -------------------*/
.header-secundario {
    display: flex;
    box-sizing: border-box;
}

.barra-de-busca {
    display: flex;
    width: 50%;
    height: 1.5rem;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #FAFAFA;
    transition: border 0.3s;
    border: 2px solid #007BFF;
    margin-right: 35%;
}

.barra-de-busca:focus-within {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.espaco-pesquisar {
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 25px;
    flex: 1;
    background-color: transparent;
}

.icone-lupa {
    width: 1.7rem;
    margin-left: 0.5rem;
}

.botao-pesquisar {
    position: absolute;
    margin-left: 40%;
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-pesquisar:hover {
    background-color: #014b99;
}

.user-icon {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}