body {
    font-family: Montserrat, sans-serif;
    background: #161618;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo-da-pagina {
    max-width: 80%;
    margin-left: 20%;
    padding-left: 6rem;
    padding-top: 2rem;
}

.h2-titulo-home {
    margin-top: 2rem;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #fafafa;
}

.destaque-amarelo {
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(253, 231, 96, 1);
}

.p-home {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

/* swiper banner ---------------------------------- */
.swiper {
    width: 100%;
    height: 22rem;
}

.swiper-slide {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: auto;
}

.imagem-1 {
    flex: 2;
    border: 2px solid rgba(79, 126, 246, 1);
    border-radius: 0.625rem;
    overflow: hidden;
}

.slide1-img1 {
    width: 100%;
    height: auto;
    display: block;
}

.imagens-2-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.slide1-img2 {
    width: 89%;
    height: auto;
    display: block;
}

.slide1-img3 {
    width: 89%;
    height: auto;
    display: block;
}

.img-card {
    width: 15.5rem;
    height: 15.3rem;
    transform: rotate(0deg);
    opacity: 1;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    position: absolute;
    z-index: 1
}

.section-game-cards {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.game-card1 {
    width: 15.6rem;
    height: 15.4rem;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    border: 2px solid var(--color-blue-sky, rgba(79, 126, 246, 1));
}

.game-card2 {
    width: 15.6rem;
    height: 15.4rem;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    border: 2px solid var(----color-yellow-br, rgba(253, 231, 96, 1))
}

.game-card3 {
    width: 15.6rem;
    height: 15.4rem;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    border: 2px solid var(----color-green-br, rgba(79, 198, 122, 1))
}

.sombra {
    display: block;
    width: 15.6rem;
    height: 15.4rem;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    background: linear-gradient(200deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    z-index: 2;
    position: relative;
}

.sombra2 {
    display: block;
    width: 15.6rem;
    height: 15.4rem;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    background: linear-gradient(200deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    z-index: 2;
    position: relative;
}

.sombra3 {
    display: block;
    width: 15.6rem;
    height: 15.4rem;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    background: linear-gradient(200deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    z-index: 2;
    position: relative;
}

.titulo-lista-jogos1 {
    position: absolute;
    z-index: 3;
    font-size: 1.1rem;
    color: rgba(79, 126, 246, 1);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin-top: 13rem;
    margin-left: 1rem;
}

.titulo-lista-jogos2 {
    position: absolute;
    z-index: 3;
    font-size: 1.1rem;
    color: rgba(253, 231, 96, 1);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin-top: 13rem;
    margin-left: 1rem;
}

.titulo-lista-jogos3 {
    position: absolute;
    z-index: 3;
    font-size: 1.1rem;
    color: rgba(79, 198, 122, 1);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin-top: 13rem;
    margin-left: 1rem;
}