@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #161618;
    color: #ffffff;
    line-height: 1.5;
}

/* Títulos com Montserrat */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
}

:root {
    --color-bg: #171718;
    --color-blue-sky: #4F7EF6;
    --color-yellow-br: #F6E15E;
    --color-green-br: #4FC67A;
    --color-text: #FAFAFA;
}

a{
    text-decoration: none;
    color: inherit;
}